html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

header, footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

main {
  background-color: lightgray;
  text-align: center;
  margin: 0px;
  padding: 0px;
}