html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

header, footer {
  background-color: #ceff00;
  color: gray;
  text-align: center;
}

main {
  background-color: lightgray;
  text-align: center;
}

main p {
  text-align: justify;
}